:root {
  --secondary-color: rgb(0, 51, 255);
  --primary-color: rgb(255, 0, 102);
  --secondary-color-opacity: rgba(0, 51, 255, 0.1);
  --primary-color-opacity: rgba(255, 0, 102, 0.1);

  --padding-normal: 15px;
}
